/* Header */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
    font-family: 'Inter', sans-serif !important;
}

body .header {
    background: url("assets/BG_01.abef41cf.jpg");
    margin-top: -100px;
    /* background-size: cover; */
    width: auto;
    height: auto;
}

body .header .content {
    padding-top: 150px;
    padding-bottom: 125px;
}

body .header .content .headline {
    font-weight: bold;
    font-size: 52px;
    line-height: 59px;
    color: #127e67;
}

body .header .content .subheadline {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #8caf41;
}

body .header .content .button-header {
    margin-top: 30px;
}

body .header .content .button-header .btn-started {
    font-weight: bold;
    font-size: 18px;
    color: aliceblue;
    line-height: 21px;
    width: 290px;
    height: 55px;
    border-radius: 25px;
    background: #8caf41;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    box-shadow: 0px 0px 10px rgba(165, 165, 165, 0.8);
}

body .header .content .button-header .btn-started:hover {
    /*hover button header*/
    background: #127e67;
    box-shadow: 0px 0px 20px rgba(165, 165, 165, 0.8);
}

body .header .content .img-fluid {
    /*img header*/
    box-shadow: 0px 0px 50px rgba(165, 165, 165, 0.8);
    border-radius: 20px;
}

/* End Header */

/* Content 1 */
body .solution {
    background-image: url("assets/BG_07.44bfeb3a.jpg");
    padding: 50px 30px;
}

body .solution .img .img-fluid {
    border-radius: 20px;
    box-shadow: 0px 0px 50px rgba(165, 165, 165, 0.8);
}

@media only screen and (min-width: 768px) {
    body .solution {
        padding-top: 140px;
        padding-bottom: 60px;
    }
}

body .solution .headline {
    font-weight: bold;
    font-size: 47px;
    line-height: 59px;
    color: #127e67;
    text-align: center;
    z-index: 1;
}

body .solution .sub-headline {
    padding-top: 28px;
    font-size: 20px;
    font-weight: 600;
    color: #8caf41;
    z-index: 1;
    text-align: center;
}

/* End Content 1 */

/* Content 2 */
body .content2 {
    background-image: url("assets/BG_02.ba49fdcf\ \(1\).jpg");
    padding: 50px 30px;
}

body .content2 h1 {
    font-weight: bold;
    font-size: 47px;
    color: #127e67;
    z-index: 1;
    padding-bottom: 10px;
}

body .content2 .img-fluid {
    box-shadow: 0px 0px 50px rgba(165, 165, 165, 0.8);
    border-radius: 20px;
}

body .content2 .review {
    color: #8caf41;
    line-height: 150%;
    font-weight: 600;
    font-size: 20px;
    text-align: justify;
    z-index: 1;
}

@media only screen and (min-width: 768px) {
    body .content2 .review-section {
        padding-top: 100px;
        padding-bottom: 70px;
    }
}

@media only screen and (max-width: 768px) {
    body .content2 h1 {
        font-size: 46px !important;
    }
}

/* End Content 2 */

/* Content 3 */
body .content3 {
    background-image: url("assets/BG_02.ba49fdcf\ \(1\).jpg");
}

body .content3 .content {
    padding-top: 70px;
    padding-bottom: 70px;
}

body .content3 .content .headline {
    font-weight: bold;
    font-size: 47px;
    line-height: 59px;
    color: #127e67;
}

body .content3 .content .benefits {
    margin-top: 50px;
}

body .content3 .content .benefits .rectangle {
    max-width: 230px;
    max-height: 334px;
    border: 1px solid #9BA8BE;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
}

body .content3 .content .benefits .rectangle img {
    margin-top: 30px;
}

body .content3 .content .benefits .rectangle .headline-benefit {
    margin-top: 40px;
    font-weight: 600;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    color: #111F37;
}

body .content3 .content .review {
    color: #8caf41;
    line-height: 150%;
    font-weight: 600;
    font-size: 20px;
    text-align: justify;
    z-index: 1;
    padding-top: 30px;
}

/* End Content 3 */

/* Content 4 */

body .content4 {
    background-image: url("assets/BG_07.44bfeb3a.jpg");
}

body .content4 .pay {
    padding-top: 10px;
}

body .content4 .headline {
    font-size: 40px;
    font-weight: bold;
    color: #127e67;
    z-index: 1;
    text-align: center;
    padding-bottom: 20px;
}

body .content4 .cta {
    font-size: 35px;
    font-weight: bold;
    color: #ff0000;
    z-index: 1;
    text-align: center;
}

body .content4 .button-header .btn-started {
    background: #8caf41;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    -webkit-transition: all 0.5s;
    /*-webkit sampai transition => set animasi*/
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    box-shadow: 0px 0px 10px rgba(165, 165, 165, 0.8);
}

body .content4 .button-header {
    padding-top: 30px;
    padding-bottom: 20px;
}

body .content4 .button-header .btn-started:hover {
    /*hover button Konfirmasi Wakaf*/
    background: #127e67;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(165, 165, 165, 0.8);
}

/* End Content 4 */

/* Footer */
body .responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* End Footer */
